#main-container{
    background-color: #1088D8; 
    margin-bottom:0;
}

.navbar-header > a{
    padding:0;
}

#main-logo{
    width: 230px;
    height: 48px;
}

#main-menu li a {
    color: #505961;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#main-menu li a {
    color: #fff;
}

#main-menu li ul {
    background-color: #1088D8; 
}

#main-menu li a.main_active , #main-menu li a:hover {
    color: #4569D6;
    box-shadow: 0 84px 0 #F7E734 inset;
}

/**/
.main_titlewrap{
    text-align: center;
    font-size:2em;
}

.main_title{
    color:#1088D8;
}

.main_subtitle{

}

#main_proyect {
    width: 100%;
}

#main_service{
    height: 55%;
}

#main_service_article article{
    text-align: center;
}

#main_service_article article:hover, #main_service_article article:hover header h3 a{
    color: #4569D6;
}

#main_service_article a{
    text-decoration: none;
    color: black;
}


#main_service_article article div{
    border-radius: 100%;
    border: 1px solid #F7E734;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

#main_service_article article:hover div{
    border: 3px solid #F7E734;
}

#main_service_article article span{
    line-height: 100px
}


#main_product{
    height: 45%;
    background:#fafafa url("../img/bg3.png");
    box-shadow:0 1px 3px rgba(0,0,0,0.08) inset,0 -1px 3px rgba(0,0,0,0.08) inset;
}

#main_product_image{
    position: absolute;
    top: 25%;
}

#main_product_image div:hover a img{
    background-color: #F7E734;
}

/**/
#main_video_logo{
    position: absolute;
    top: 20%;
    left: 35%;
    z-index: 5
}

#main_video_logo div{
    text-align: center;
    border-radius: 50px;
    background-color: red
}

#main_video_logo div a{
    text-decoration: none;
    font-size: 20px;
    color:#fff;
}

#main_video_logo div a:hover{
    background-color: #F7E734;
    color:#1088D8;
}

#main_video_logo img{
    width: 100%;
}

#main_video_container{
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;
}

#youtube_video{
    width: 100%;
    background-color: white; /* in case the video doesn't fit the whole page*/
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
}