#main-container{
    background-color: #1088D8; 
    margin-bottom:0;
}

.navbar-header > a{
    padding:0;
}

#main-logo{
    width: 230px;
    height: 48px;
}

#main-menu li a {
    color: #505961;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#main-menu li a {
    color: #fff;
}

#main-menu li ul {
    background-color: #1088D8; 
}

#main-menu li a.main_active , #main-menu li a:hover {
    color: #4569D6;
    box-shadow: 0 84px 0 #F7E734 inset;
}

/**/
.main_titlewrap{
    text-align: center;
    font-size:2em;
}

.main_title{
    color:#1088D8;
}

.main_subtitle{

}

#main_proyect {
    width: 100%;
}

#main_service{
    height: 55%;
}

#main_service_article article{
    text-align: center;
}

#main_product{
    height: 45%;
    background:#fafafa url("../img/bg3.png");
    box-shadow:0 1px 3px rgba(0,0,0,0.08) inset,0 -1px 3px rgba(0,0,0,0.08) inset;
}

#main_product_image{
    position: absolute;
    top: 25%;
}


/**/
#main_video_container{
    background-color: rgba(255, 0, 0, 0.5);
}

#youtube_video{
    width: 100%;
    background-color: white; /* in case the video doesn't fit the whole page*/
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
}