---
---

body{
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
}

#main-container{
	background-color: #1088D8;
}

#main-menu li{
	a{
		color: #fff;
	    -webkit-transition: all .3s;
	    -o-transition: all .3s;
	    transition: all .3s;
	}
	a.main-active, a:hover{
		color: #fff;
    	box-shadow: 0 84px 0 #ce564e inset;
	}
}

.container-home{
	margin-top: 50px;
}

.container-parallax{
	@extend .container-home;
	height: 500px;
	background-repeat: no-repeat;
	background-color: #000;
	.section-parallax{
		@extend .container-home;
    	height: 500px;
    	display: table;
    	width: 100% !important;
    	div{
			display: table-cell;
			vertical-align: middle;
		}
	}
}