---
---

html{
    background-color: #333;
}

body{
	@extend html;
	color: #fff;
}

#main-container{
	background-color: #1088D8;
}

#main-menu li{
	a{
		color: #505961;
	    -webkit-transition: all .3s;
	    -o-transition: all .3s;
	    transition: all .3s;
	}
	a.main_active, a:hover{
		color: #fff;
    	box-shadow: 0 84px 0 #ce564e inset;
	}
}

#home{
	margin-top: 50px;
}