---
layout: default
---

<div class="container container-home">
	<br>
	<br>
	<div class="row text-center">
		{% for my_page in site.pages %}
			{% if my_page.title %}
				<div class="col-lg-4">
					<img src="{{ "/img/blog/" | prepend: site.baseurl }}{{my_page.img}}" class="img-circle" width="140" height="140"/>
					<p>
					{{my_page.title}}
					</p>
					<p>
						<a class="btn btn-default" href="{{ my_page.url | prepend: site.baseurl }}" role="button">Tutoriales »</a>
					</p>
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<hr class="featurette-divider"/>

	<div class="row featurette">
		<div class="col-lg-7">
			<h2 class="featurette-heading">
				Mi huella.
				<span class="text-muted">
					¡Hola Mundo!
				</span>
			</h2>
          	<p class="lead">
          		No se necesita grandes cambios de la noche a la mañana, con un paso cada día es más que suficiente para cambiar el mundo.
          	</p>
            <a href="http://coronadoedgar.wordpress.com">Sobre mis proyectos...</a>
		</div>
		<div class="col-lg-5">
			<img class="featurette-image img-responsive center-block" src="/img/blog/logo.png"/>
		</div>
	</div>

	<hr class="featurette-divider"/>

	<div class="row featurette">
		<div class="col-md-4 col-xs-12">
                    <section>
                        <h3>Facebook</h3>
                    </section>
                    <section>
                        <span class="fa fa-facebook-square fa-2x"></span>
                        <a href="http://www.facebook.com/coronadoedgar" target="_blank">coronadoedgar</a>
                    </section>
                </div>
                <div class="col-md-4 col-xs-12">
                    <section>
                        <h3>Youtube</h3>
                    </section>
                    <section>
                        <span class="fa fa-youtube-square fa-2x"></span>
                        <a href="http://www.youtube.com/user/AlgoritmoVirtual" target="_blank">coronadoedgar</a>
                    </section>
                </div>
                <div class="col-md-4 col-xs-12">
                    <section>
                        <h3>Twiter</h3>
                    </section>
                    <section>
                        <span class="fa fa-twitter fa-2x"></span>
                        <a href="http://twitter.com/coronadoedgar93" target="_blank">@coronadoedgar93</a>
                    </section>
                </div>
                <div class="col-md-4 col-xs-12">
                    <section>
                        <h3>Google Plus</h3>
                    </section>
                    <section>
                        <span class="fa fa-google-plus-square fa-2x"></span>
                        <a href="http://google.com/+CoronadoEDGAR93" target="_blank">coronadoedgar</a>
                    </section>
                </div>
                <div class="col-md-4 col-xs-12">
                    <section>
                        <h3>Linkedin</h3>
                    </section>
                    <section>
                        <span class="fa fa-linkedin-square fa-2x"></span>
                        <a href="http://pe.linkedin.com/pub/edgardo-coronado/55/802/797" target="_blank">coronadoedgar</a>
                    </section>
                </div>
                <div class="col-md-4 col-xs-12">
                    <section>
                        <h3>Correo Electrónico</h3>
                    </section>
                    <section>
                        <span class="fa fa-envelope-o fa-2x"></span>
                        <a href="mailto:coronadoedgar93@gmail.com" target="_blank">coronadoedgar93@gmail.com</a>
                    </section>
                </div>
            </div>

    <hr class="featurette-divider"/>
    <footer>
        <p class="pull-right">Coronado Edgar © 2016</p>
    </footer>

</div>
