<!-- Scripts -->
<!--<script src="{{ "/js/jquery-3.0.0.min.js" | prepend: site.baseurl }}"></script>-->
<script src="{{ "/js/jquery-1.10.2.min.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<!--<script src="{{ "/js/parallax.js" | prepend: site.baseurl }}"></script>-->
<script>
	$(document).ready(function(){
		function container_background(element){
			var url_image = element.attr('image-src');
			if (url_image){
				element.css({
					backgroundImage: 'url(' + url_image + ')'
				});
			}
		}

		container_background($('.container-parallax'));
		
		$('.container-parallax').parallax({'coeff':0.50 });
		$('.section-parallax').parallax({'coeff': 0.80, 'type':'text' });
	});
</script>
